/.$Fertilizer.drawio.bkp
/.venv
/1.5 ComputationalThinking Skills.doc
/1.8 Career Connections.docx
/2.2 Programming Basics.doc
/2.7 Career Connections.docx
/3.2 Python Structure and Syntax.doc
/4.2 Python Repetition.doc
/4.4 Pseudocode.docx
/5.2 functions.doc
/5.4 Decomposition.docx
/6.2 leveraging knowledge.doc
/7.2 Serving up data.doc
/authorized_users - Copy.txt
/Computational Thinking Skill.docx
/credentials.txt
/DetectingPatterns.docx
/Fertilizer.drawio
/info.db
/Py
/Screenshots
/supplies.db
/tempCodeRunnerFile.python
/Untitled Diagram.drawio
/volumes.txt
/week2_WDD